module.exports = {
  module: {
    rules: [
      {
        test: /\.<%= cssFlavor %>$/,
        loader: 'postcss-loader',
        options: {
          ident: 'postcss',<% if(cssFlavor !== 'css') {%>
          syntax: 'postcss-<%= cssFlavor %>',<% } %>
          plugins: () => [
            require('postcss-import'),
            require('tailwindcss')('<%= configDirectory %>/<%= tailwindConfigFileName %>.js'),
            require('autoprefixer'),
          ]
        }
      }
    ]
  }
};
